# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dataset
rsna-pneumonia-detection-challenge.zip

backEnd/DeepLungCTApi/nifti_store



underDev/pylidc/*
# underDev2/Data/*
underDev2/Data/*

nifti_output_python
.venv/
.venv
testData




# Medical data / outputs (examples)
nifti_output_python/
underDev2/Data/
underDev/pylidc/
underdev3/Data/
underdev3/checkpoints/
**/*.nii
**/*.nii.gz
**/*.dcm
**/*.mhd
**/*.raw
**/*.npz
**/*.npy
.fake
gitDualPush.sh
